## .gitignore

# web application file
lte-pm/ipch
lte-pm/Server_Data/DATA
lte-pm/Server_Data/x64
DecompressLibrary/Debug
DecompressLibrary/Release
DecompressLibrary/x64

# IDE support file
lte-pm/Server_Data.sdf